In [1]:
input()

20

'20'

In [2]:
data = input()

20

In [3]:
data

'20'

In [4]:
data = input("정수를 입력하세요.")

정수를 입력하세요.30

In [5]:
data

'30'

In [6]:
first_number = input("첫 번째 숫자")

첫 번째 숫자20

In [7]:
second_number = input("두 번째 숫자")

두 번째 숫자30

In [8]:
first_number, second_number

('20', '30')

In [9]:
first_number + second_number

'2030'

In [10]:
int(first_number) + int(second_number)

50

In [11]:
first_number = int(input("첫 번재 숫자"))

첫 번재 숫자20

In [12]:
first_number

20

In [13]:
second_number = int(input("두 번재 숫자"))

두 번재 숫자30

In [14]:
second_number

30

In [15]:
first_number + second_number

50

In [16]:
print("Hello World")

Hello World

In [17]:
print("Hello", "World", "Python")

Hello World Python

In [18]:
print("Hello", "World", sep=" ")

Hello World

In [19]:
print("hello", "world", sep=",")

hello,world

In [20]:
print("hello", "World", end="\n")

hello World

In [21]:
print("Hello")
print("World")

Hello
World

In [22]:
print("Hello", end="\t") #tab
print("World")

Hello	World